<div class="wrapper">
  <main>
    <div class="metric">
      <h1 id="title">
        Working on Resoc
      </h1>
      <span class="metric-data">
        <span class="big-num">
          {{ resocStars }}
        </span>
        stars on GH
      </span>
    </div>
    <div class="metric">
      <h1>
        Introvert doing his best
      </h1>
      <span class="metric-data">
        <span class="big-num">
          {{ followerCount }}
        </span>
        followers
      </span>
    </div>
  </main>
  <div class="challenge-progress">
    <div class="caption">
      <span>
        #100DaysOfCode Challenge
      </span>
      <span>
        Day {{ day }}
      </span>
    </div>
    <div class="progress">
      {{#activity}}
        <div class="daily-activity {{ status }}"></div>
      {{/activity}}
    </div>
  </div>
  <div class="update">
    <span>
      My banner will be updated on {{ nextGenerationDate }}
    </span>
  </div>
</div>

<script>
window.onload = function() {
  var formatter = Intl.NumberFormat('en', { notation: 'compact' });
  var data = document.querySelectorAll(".big-num");
  for (var i = 0; i < data.length; i++) {
    data[i].innerHTML = formatter.format(data[i].innerHTML);
  }
};
</script>
