@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.wrapper {
  background: rgb(11,35,238);
  background: linear-gradient(70deg, rgba(11,35,238,1) 0%, rgba(246,52,12,1) 100%);
  color: white;
  font-family: 'Raleway';

  display: flex;
  flex-direction: column;
  padding: 2vh 3vw 2vh 3vw;
  align-items: flex-end;
  justify-content: space-around;
}

main {
  flex: 1.4;
  display: flex;
  flex-direction: row;
  gap: 20vh;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2vh;
}

.metric h1 {
  font-size: 11vh;
  font-weight: bold;
  margin-bottom: 0;
}

.metric-data {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 9vh;
}

.challenge-progress {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 2vh;
}

.caption {
  font-size: 11vh;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.progress {
  background-color: white;
  border-radius: 1vh;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 0.2vw;
  padding-right: 0.2vw;
}

.daily-activity {
  display: inline-block;
  width: 0.8%;
  margin-left: 0.1%;
  margin-right: 0.1%;
  height: 11vh;
  border-radius: 1vh;
}

.completed {
  background-color: #2e7d32;
}

.missed {
  background-color: #c62828;
}
