@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.wrapper {
  background: rgb(11,35,238);
  background: linear-gradient(70deg, rgba(11,35,238,1) 0%, rgba(246,52,12,1) 100%);
  color: white;
  font-family: 'Raleway';

  display: flex;
  padding: 4vh 3vw 4vh 3vw;
  align-items: stretch;
  justify-content: space-between;
  gap: 10vh;

  border-collapse: collapse;
}

main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2vh;
}

.metric h1 {
  font-size: 9vh;
  font-weight: bold;
  margin: 0;
}

.metric-data {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 1vh;
  font-weight: bold;
  font-size: 9vh;
}

.gtd-activity {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: stretch;
  justify-content: space-between;
}

.caption {
  font-size: 9vh;
  font-weight: bold;
  text-align: right;
}

.progress-metric {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2vh;
  flex: 1 0 auto;
}

.progress {
  background-color: white;
  border-radius: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5vh;
  padding: 0.5vh;
  flex: 1 0 auto;
}

.daily-activity {
  width: 90%;
  height: 100%;
}

.daily-activity:first-child {
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

.daily-activity:last-child {
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.none {
  background-color: #c62828;
}

.low {
  background-color: #c67828;
}

.high {
  background-color: #2e7d32;
}

.last-weekly {
  text-align: right;
}
